RewriteEngine on
RewriteRule ^/?profiles-add(/.*)?$ /resources/pages/login/?tab=signup$1 [L]
RewriteRule ^/?js(/.*)?$ /resources/js$1 [L]
RewriteRule ^/?css(/.*)?$ /resources/css$1 [L]
RewriteRule ^/?css1(/.*)?$ /resources/css1$1 [L]
RewriteRule ^/?fonts(/.*)?$ /resources/fonts$1 [L]
RewriteRule ^/?design(/.*)?$ /resources/design/$1 [L]
RewriteRule ^/?product_view(/.*)?$ /resources/pages/views/product_view.php$1 [L]
RewriteRule ^/?login(/.*)?$ /resources/pages/login/$1 [L]
RewriteRule ^/?static(/.*)?$ /resources/$1 [L]
RewriteRule ^/?api/distancematrix(/.*)?$ /resources/api/matrix.php$1 [L]
RewriteRule ^/?cart(/.*)?$ /resources/pages/cart/$1 [L]
RewriteRule ^/?images(/.*)?$ /resources/images/$1 [L]
RewriteRule ^/?checkout(/.*)?$ /resources/pages/checkout/$1 [L]
RewriteRule ^/?api/payment(/.*)?$ /resources/app_engine/main_processes/pesapal_ipn.php$1 [L]